name: Docker-ci


on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

permissions: read-all # zizmor: ignore[excessive-permissions]

jobs:
  _github_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: SuperLint
        uses: super-linter/super-linter/slim@v8.2.1
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_SHELL_SHFMT: false
          VALIDATE_YAML_PRETTIER: false
          VALIDATE_MARKDOWN_PRETTIER: false
          VALIDATE_GIT_COMMITLINT: false
          VALIDATE_CLANG_FORMAT: false
          VALIDATE_CPP: false
          VALIDATE_TRIVY: false
          USE_FIND_ALGORITHM: true
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker-build-ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    # mariadb service for testing
    services:
      db:
        image: mariadb
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: geheim
          MYSQL_DATABASE: dbTest
          MYSQL_USER: mysqluser
          MYSQL_PASSWORD: mysqlpassword

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Log into registry ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Install Mariadb-Client on Runner for tests
        run: |
          # install MariaDB client
          sudo apt-get update
          sudo apt-get install mariadb-client

      - name: Test
        env:
          HBCI_PINFILE: ${{ secrets.HBCI_PINFILE }}
        run: | # zizmor: ignore[template-injection] safely handled
          [ "$RUNNER_DEBUG" == 1 ] &&
            TESTPARM="--debug" &&
            set -x

          if [ -z "$HBCI_PINFILE" ] ; then
            printf "Missing testdata. HBCI_PINFILE not set.\n"
            exit 1
          else
            # dump testdata
            while read -r line ; do
              case $line in
                PIN_* )
                  line=${line##PIN_}
                  line=${line%%=*}
                  u=${line#*_}
                  blz=${line%_*}
                  printf "Found Testdata for blz=%s u=%s\n" "$blz" "$u"
                  ;;
              esac
            done <<<"$HBCI_PINFILE"
          fi
          cat >.hbci-pinfile <<<"$HBCI_PINFILE"

          MYSQL_HOST=db
          MYSQL_LOCAL_HOST=127.0.0.1
          MYSQL_DATABASE=dbTest
          MYSQL_USER=mysqluser
          MYSQL_PASSWORD=mysqlpassword
          MYSQL_ROOT_PASSWORD=geheim

          FINIMG="${{ steps.meta.outputs.tags}}"
          FINNET="${{ job.services.db.network}}"

          #shellcheck disable=SC2086 # TESTPARM can be empty
          . ./testlocal.sh test $TESTPARM

      - name: Cleanup Test
        if: always()
        run: |
          rm .hbci-pinfile

      - name: Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
